@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    color-scheme: light dark;
}

.roboto-cinemaLink {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

header {
    background-color: light-dark(#748CAB, #1D2D44);
    display: flex;
    padding: 0px;
}

body {
    margin: 8px;
    background-color: light-dark(#F0EBD8, #0D1321);
    color: light-dark(#F0EBD8, #748CAB);
    font: 1em roboto-cinemaLink;
}
a:-webkit-any-link {
    text-decoration: none;
}

#searchSignUp {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
.formSearch{
    display: flex ;
    justify-content: flex-end;
    width: 100%;
}

h1,
h3 {
    padding: 2px;
    margin: 0px;
}

#cinemaLinkLogo {
    height: 100px;
    padding: 5px;    
}
@keyframes logoSpin {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
#cinemaLinkLogo:hover{    
    animation: logoSpin 2s ease-in-out 0s infinite;
    /* cubic-bezier(0.1, -0.6, 0.2, 0) */
}

#inSearch {
    height: 2rem;
    margin: 4px;
    width: 90%;
    padding-right: 30px;
    background-color: light-dark(#f0ebd8,#3b3b3b);
    border: 0px;
}
#inSearchIcon{
    position: relative;
    height: 2rem;
    margin: 4px;
    right: 40px;
    /* is the position is "absolute" icon can become in the center of input */
    /* the margin-right: -40px is to negate the size of icon so button would start right after input*/
    margin-right: -40px;
}

#btnSignUp {
    border: 0px;
    height: 2rem;
    margin: 4px 8px;
    width: 5em;
    background-color: #3E5C76;
    color: light-dark(#F0EBD8,#748CAB);    
}

#textCinemaLink {
    margin: 10px 0px;
}

#textSlogan {
    padding-left: 4px;
}

#navigationCoreContent {
    display: flex;
}

#navigation {
    position: sticky; 
    top: 10px;
    background-color: light-dark(#748CAB, #1D2D44);
    display: flex;
    padding: 0px;
    width: 15%;
    height: max-content;
}
#navigation li{
    transition-property: background-color;
    transition-duration: 3s;
}

#navigationul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#coreContent{
    width: 85%;    
}

li {
    list-style-type: none;
        padding: 10px;
}

/* to disable hover effect on all disabled liks */
#navigation li:hover:not(.linkDisabled) {
    background-color: light-dark(#1D2D44,#F0EBD8);    
}

a {
    color: light-dark(#F0EBD8, #748CAB);
    text-decoration: none;
    font-size: x-large;
    font-weight: 800;    
}

#videoBanner {
    justify-content: center;
    background-color: light-dark(#748CAB, #1D2D44);
    margin-left: 10px;
    display: flex;
    height: 400px;
    padding: 10px;    
    }
#cinemaLinkVideo{
    object-fit: cover;
    width: 100%;
}


#newRelises {
    display: flex;
    position: relative;
    background-color: light-dark(#748CAB, #1D2D44);
    margin: 10px 10px;
    padding-top: 50px;
    height: 300px;
    width: 99%;
}
#h1NewRelises{
    position: absolute;
    top: -18px;
    left: 5px;
    text-shadow: 0px 0px 5px black;
}

#news {
    display: flex;
    position: relative;
    background-color: light-dark(#748CAB, #1D2D44);
    margin: 10px 10px;
    padding-top: 50px;
    height: 300px;
    width: 99%;
}

.moviePoster {
    width: 150px;
}

.movieSection {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: light-dark(#F0EBD8, #748CAB);
    margin: 0px;
}

.movieNewsList {
    flex-direction: row;
    display: flex;
}

#footerUl {
    position: fixed;
    width: 99%;
    background-color: light-dark(#8b68a0, #361d44);
    display: flex;
    bottom: 0px;    
}
#footerUl li{
    transition-property: background-color font-size;
    transition-duration: 2s;
}

#footerUl li:hover:not(.linkDisabled) {
    font-size: xx-large;
    background-color: light-dark(#361d44,#F0EBD8);   

}

.linkDisabled{
    color: light-dark(rgb(82, 82, 82),gray);
    text-decoration: line-through;
    font-style: italic;    
}

p {
    padding: 0px;
    margin: 5px;
}

/* Styles for signUp.html */

#formRegister{
    position: relative;
    /* need to make divRegister position: relative; 
    so that imgRegisterShowPassword whould anchor to divRegister rather then body*/
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px light-dark(rgba(0,0,0,0.25),rgba(0,0,0,0.75));
    justify-self: center;
    width: 50%;
    /* background-image: linear-gradient(#1D2D44,#0D1321); */
    background-image: linear-gradient(light-dark(#c7ddfa,#1D2D44),light-dark(#748CAB,#0D1321));
    border-radius: 7px;
    padding: 20px 40px;
}
#formRegister h1{
    text-align: center;
}
#aLogin{
    display: block;
    text-align: center;
    text-decoration: underline;    
}

.inputEmail{
    width: 100%;
}
.inputPassword{    
    width: 100%;
}
#imgRegisterShowPassword{
    position: absolute;
    right: 34px;
    top: 179px;
}
#imgRegisterShowPassword2{
    position: absolute;
    right: 34px;
    top: 226px;
}
#inSignUp{
    border: 2px solid light-dark(#0D1321, #748CAB);
    display: block;
    text-align: center;
    font-size: x-large;
    width: 40%;
    margin: auto;
    background-color: light-dark(#F0EBD8, #361d44);
    color: light-dark(#0D1321, #748CAB);    
}


#selectFavoriteGenre{
    width: 50%;    
}


/* styles for movies.html */

#divUnderConstraction{
    width: 85%;
    display: block;
    text-align: center;    

}

/* styles for login.html */

#formLogin{
    position: relative;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px light-dark(rgba(0,0,0,0.25),rgba(0,0,0,0.75));
    justify-self: center;
    width: 50%;
    background-image: linear-gradient(light-dark(#c7ddfa,#1D2D44),light-dark(#748CAB,#0D1321));
    
    border-radius: 7px;
    padding: 20px 40px;
}
#formLogin h1{
    text-align: center;
}
#labelStayLogged{
    font-size: large;
}

#imgLoginShowPassword{
    position: absolute;
    top: 135px;
    right: 37px;

}
#aDontHaveAnAccount{
    text-decoration: underline;
}

.imgLoginLogo{
    margin-right: 40px;
}

#divBack{
    display: block;
    width: 20%;
    background-color: light-dark(#748CAB, #1D2D44);   
    
}
#divBack2{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;    
    color: light-dark(#0D1321, #80464b); 
}

/* Styles for singInSuccess.html*/

#bigHomeButton{
    font-size: xx-large;
    width: 30%;
    background-color: light-dark(#748CAB, #1D2D44);
    color: light-dark(#0D1321, #748CAB);
    
}

/* styles for favorites.html */

#divFavorites{
    width: 85%;
    text-align: center;    
}

 #tableFavorites{
    margin: 0;
    padding: 0;
} 

.imgFilmPoster{
    width: 100%;
    
}
.positionRelative{
    position: relative; /* This is needed to film title and film description to be position:absolute */
    /* May not work outside chrome */
    padding: 10px;

}
.pFilmTitle{
    position: absolute;
    /* next 4 lines centers position absolute element */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     
    color: #F0EBD8;
    bottom: 15%;
    font-size: x-large;
    text-shadow: 0px 0px 5px black;
}
.pFilmDescription{
    position: absolute;
    /* next 4 lines centers position absolute element */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    color: #F0EBD8;
    font-size: large;
    text-shadow: 0px 0px 5px black;
    
}

